In [1]:
# there are multiple error in python

In [2]:
try:
    inp = int(input("Enter a number: "))
    num = int(inp)
    print(num)
    
except ValueError:
    print('Invalid data type! Required int ot float type!')

Enter a number: eafaf
Invalid data type! Required int ot float type!

In [4]:
inp =(input("Enter a number: "))
num = int(inp)
print(num)

Enter a number: dd

ValueError: invalid literal for int() with base 10: 'dd'

In [5]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    
    result = num1 / num2
    print(result)
    
except ValueError:
    print('Invalid data type! Required int ot float type!')

Enter a number: 34
Enter another number: 0

ZeroDivisionError: division by zero

In [10]:
# res: aafai ZeroDivisionError taha pauxa

In [9]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    
    result = num1 / num2
    print(result)
    
except ValueError:
    print('Invalid data type! Required int ot float type!')
    
except ZeroDivisionError:
    print('cannot divide by zero')

Enter a number: 12
Enter another number: 0
cannot divide by zero

In [8]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    
    result = num1 / num2
    print(result)
    
except ValueError:
    print('Invalid data type! Required int ot float type!')
    
except ZeroDivisionError:
    print('cannot divide by zero')

Enter a number:
Invalid data type! Required int ot float type!

In [13]:
# 2 error , 1 message

In [4]:
num_str = "abc"


try:
    inp = int(input("Enter a number: "))
    num = int(inp)
    print(num)
    
except (ValueError, TypeError):
    print('Could not convert input to integer')

Enter a number: 0
0

In [6]:
num_str = "abc"


try:
    
    num = int(num_str)
    print(num)
    
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'abc'

In [7]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    
    result = num1 / num2
    
    
except ZeroDivisionError:
    print('cannot divide by zero')
    
else:
    print("Result is", result)

Enter a number: 4
Enter another number: 8
Result is 0.5

In [8]:
# res: else block narakhi try baata nai kaam chai hunxa aaile chai features ko laagi

In [11]:
# The code above is identical to this one
# useful in real works

try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    
    result = num1 / num2
    print("Result is", result)   
    
    
except ZeroDivisionError:
    print('cannot divide by zero')

Enter a number: 4
Enter another number: 8
Result is 0.5

In [ ]:
# finally

In [15]:
# The code above is identical to this one
# useful in real works

try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    
    z = x / y
    
    
    
except ZeroDivisionError:
    print('cannot divide by zero')

else:    
    print("The result is", z)

finally:
    print("This block is always executed.")

Enter a number: 2
Enter another number: 3
The result is 0.6666666666666666
This block is always executed.

In [16]:
# raise statement

In [17]:
x = 10
if x > 5:
    raise ValueError("x should not be greater than 5")

ValueError: x should not be greater than 5

In [19]:
x = 10
if x > 5:
    raise vv("x should not be greater than 5")

NameError: name 'vv' is not defined

In [21]:
# vv yedi aafnai banaune vaye Excception baata inherit garne
# yesma aafnoai type ko exception define garera garna sakinxa

In [20]:
raise ValueError

ValueError:

In [22]:
class MyException(Exception):
    pass

In [23]:
raise MyException("This is my custom exception")

MyException: This is my custom exception

In [25]:
try:
    raise ValueError("this is a test exception")
    
except ValueError as e:
    print('caught error: ', e)

caught error:  this is a test exception

In [26]:
# res: error raise garera aaain except ma pathayera display gareko